# Node modules
node_modules/

# Internal node_modules
**/node_modules/

.turbo

# Build files
dist/
build/

# Logs
*.log

# Environments
.env

# IDE files
*.vscode/

# Config files
*.config.js


# package-lock.json files
package-lock.json
